{% extends "base.html" %}
{% block content %}
		  <div class="col-md-7">
	  			<div class="row" id ="polls-row">
	  				{% block polls %}
			  		{% for poll in all_polls %}
	  				<div class="col-md-12">
	  					<div class="content-box-large">
	  						<div class="panel panel-default">
			  				<div class="panel-heading">
									<span><b>Activity :- </b></span><span>{{poll.activity}}</span><br>
					        </div>
					        <div class="panel-body">
										<span><b>Workscope Contact Details :- </b></span><span>{{poll.workscope_contract_details}}</span><br>
										<span><b>Revision :- </b></span><span>{{poll.revision}}</span><br>
										<span><b>Originator Name :- </b></span><span>{{poll.originator_name}}</span><br><br><br>
										<button type="button" class="btn btn-success" name="button">See More</button>
			  				</div>
			  			</div>
			  			</div>
	  				</div>
	  				{% endfor %}
	  				{% endblock %}
	  			</div>
	  		<!--  Page content -->
		  </div>
{% endblock %}
