{% extends "base.html" %}
{% block content %}
		  <div class="col-md-7">
	  			<div class="row" id ="polls-row">
	  				{% block polls %}
			  		{% for poll in all_polls %}
	  				<div class="col-md-12">
	  					<div class="content-box-large">
	  						<div class="panel panel-default">
			  				<div class="panel-heading">
					        </div>
					        <div class="panel-body">
										{{poll}}
			  				</div>
			  			</div>
			  			</div>
	  				</div>
	  				{% endfor %}
	  				{% endblock %}
	  			</div>
	  		<!--  Page content -->
		  </div>
{% endblock %}
