{% extends "base.html" %}
{% block content %}
		  <div class="col-md-7">
	  			<div class="row" id ="polls-row">
	  				{% block polls %}
			  		{% for poll in all_polls %}
	  				<div class="col-md-12">
	  					<div class="content-box-large">
	  						<div class="panel panel-default">
			  				<div class="panel-heading">
									<span><b>Entry Id :- </b></span><span>{{poll.entry_id}}</span><br>
					        </div>
					        <div class="panel-body">
										<span><b>Requester Name :- </b></span><span>{{poll.requester_name}}</span><br>
										<span><b>Requester Contact :- </b></span><span>{{poll.requester_contact}}</span><br>
										<span><b>Urgent :- </b></span><span>{{poll.urgent}}</span><br><br><br>
										<button type="button" class="btn btn-success" name="button">See More</button>
			  				</div>
			  			</div>
			  			</div>
	  				</div>
	  				{% endfor %}
	  				{% endblock %}
	  			</div>
	  		<!--  Page content -->
		  </div>
{% endblock %}
